
body {
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  text-align: center;
  
}

.container {
    align-items: center;
  justify-items: center;
  
}

.edad {
color: #fff;
  padding: 12px;
  
  
}
.comentario {
color: #fff;
  padding: 12px;

}

.button  {
   border-radius: 25px;
   background-color: antiquewhite;
  height: 20px;
  width: 350px;
}